body{
    background-color: #d1d1d1;
}
.item{
    cursor: pointer;
}
.item-caption{
    width: 80%;
    background-color: white;
    position: absolute;
    bottom: 5%;
    left: 10%;
    padding: 10px;
}
#light-box-container{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
#light-box-item{
    width: 50%;
    height: 500px;
    background-image: url(../assets/1.jpg);
    background-size: cover;
    background-position: center center;
}
i{color: #fff;font-size: 20px;cursor: pointer;}
#exit{
    position: absolute;
    top: 2%;
    right: 1%;
}